#
# This is an example "local" configuration file. In order to set/override config
# options that ONLY apply to your local environment, simply copy/rename this file
# to pythonpath_dev/superset_config_docker.py
# It ends up being imported by superset_config.py which is loaded by
# superset/config.py
#

SQLALCHEMY_DATABASE_URI = "postgresql+psycopg2://pguser:pgpwd@some.host/superset"
SQLALCHEMY_ECHO = True